.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deselect {
  user-select: none;
}
.csp {
  cursor: pointer;
}
.clearfix::after {
  content: '';
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

.w-auto {
  width: auto !important;
}
.pos-a {
  position: absolute;
}
.pos-r {
  position: relative;
}
// 以4的倍数递增，生成1倍到8倍4个方向的margin
// 简写 mt-8 mb-8 ml-8 mr-8
$direction: ('t', 'top'), ('b', 'bottom'), ('l', 'left'), ('r', 'right');
@for $i from 1 through 8 {
  @each $d1, $d2 in $direction {
    .m#{$d1}-#{$i * 4} {
      margin-#{$d2}: $i * 4 * 1px !important;
    }
  }
}
