/* 全局颜色变量 勿动 */

:root {
	--color-primary: #409EFF;
	--color-primary-light-1: #53a8ff;
	--color-primary-light-2: #66b1ff;
	--color-primary-light-3: #79bbff;
	--color-primary-light-4: #8cc5ff;
	--color-primary-light-5: #a0cfff;
	--color-primary-light-6: #b3d8ff;
	--color-primary-light-7: #c6e2ff;
	--color-primary-light-8: #d9ecff;
	--color-primary-light-9: #ecf5ff;
	--button-active-color: #3a8ee6;
}