/* Element Chalk Variables 自定义Element颜色 变量 */
/* Color */
$--color-primary: #409EFF;
$--color-primary-light-1: #53a8ff;
$--color-primary-light-2: #66b1ff;
$--color-primary-light-3: #79bbff;
$--color-primary-light-4: #8cc5ff;
$--color-primary-light-5: #a0cfff;
$--color-primary-light-6: #b3d8ff;
$--color-primary-light-7: #c6e2ff;
$--color-primary-light-8: #d9ecff;
$--color-primary-light-9: #ecf5ff;
$button-active-color: #3a8ee6;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-button:active
{
	color: $button-active-color;
	border-color: $button-active-color;
}
.el-button.is-active,.el-button.is-plain:active
{
	color: $button-active-color;
	border-color: $button-active-color
}
.el-button--primary.is-active,.el-button--primary:active
{
	background: $button-active-color;
	border-color: $button-active-color;
}
.el-button--primary.is-plain:active
{
	background: $button-active-color;
	border-color: $button-active-color;
}
.el-button--text:active
{
	color: $button-active-color;
}
